@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1630px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  outline: none;
  border: none;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

input {
  border: none;
  outline: none;
  background: transparent;
}
body {
  font-family: "Roboto", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.all-sections {
  padding: 70px 0;
}
.translate-center{
  transform: translate(-50%,-50%);
}
html::-webkit-scrollbar {
  width: 12px;
  border: none;
}

html::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #161d26;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(94.58deg, #529ad1 0%, #02274e 100%);
  border-radius: 20px;
  overflow: hidden;
  height: 100px;
}

html::-webkit-scrollbar-corner {
  background: transparent;
}
@media (max-width: 1200px) {
  .all-sections {
    padding: 50px 0;
  }
}
@media (max-width: 900px) {
  .all-sections {
    padding: 32px 0;
  }
}
@media (max-width: 720px) {
  .all-sections {
    padding: 20px 0;
  }
}
